# ignore hidden files/directories

hooks
.DS_Store
*~
\#*
.#*
*.jar
*.log
*.vgc
*.svg
/.settings
/.classpath
/.project
/target
/findbugs
dependency-reduced-pom.xml
/hsqldb
/files

# IntelliJ IDEA
.idea
*.iml
